<?xml version="1.0"?>
<config>
    <modules>
        <Migrated_FromCore>
            <version>0.1.0</version>
        </Migrated_FromCore>
    </modules>
    <global>
        <blocks>
        </blocks>
        <helpers>
        </helpers>
        <models>
        </models>
        <resources>
        </resources>
    </global>
</config>